<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>Filtered Enquiries</title>

</head>
<body>
		<div class="mt-5">
			<table id="enqTable" class="table table-bordered">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Course</th>
						<th scope="col">Number</th>
						<th scope="col">Enquiry Date</th>
						<th scope="col">Status</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="enquiry, iterStat : ${enquiryData}">
						<th scope="row" th:text="${iterStat.count}"></th>
						<td th:text="${enquiry.studentName}"></td>
						<td th:text="${enquiry.ClassName}"></td>
						<td th:text="${enquiry.mobileNo}"></td>
						<td th:text="${enquiry.createdDate}"></td>
						<td th:text="${enquiry.enquiryStatus}"></td>
						<td><a class="btn btn-primary" th:href="@{/enquiry/{id}(id=${enquiry.enquiryId})}">EDIT</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>