<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>AShokIT</title>
<style>
footer {
	text-align: center;
	padding: 3px;
	background-color: white;
	color: blue;
}
</style>
</head>
<body>
	<div class="container">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/"><img alt=""
					src="images/navbar.jpg"></a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="#">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Services</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Course</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Contact
								Us</a></li>
					</ul>
					<a href="/login" class="btn btn-danger">Login</a>
				</div>
			</div>
		</nav>

		<br />

		<div id="carouselExampleControls" class="carousel slide"
			data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="images/banner_3.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="images/banner_2.jpeg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="images/banner_1.jpeg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="images/banner_4.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="images/banner_5.jpg" class="d-block w-100" alt="...">
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExampleControls" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

		<br />
		<div class="text-center">
			<h1>Trending Courses</h1>
		</div>
		<br />

		<div class="row">
			<div class="col-md-4">
				<img src="images/course_1.jpeg" width=350px>
			</div>
			<div class="col-md-4">
				<img src="images/course_2.png" width=350px>
			</div>
			<div class="col-md-4">
				<img src="images/course_3.jpeg" width=350px>
			</div>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
<footer>
	<p>
		@ 2024 Ashok IT. All Rights Reserved.
	</p>
</footer>
</html>